*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
.header{
    width: 100%;
    height: 10vh;
    background-color:rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.list li{
   list-style: none;
   display: inline-block;
   padding: 20px;
}
.list a{
    text-decoration: none;
    font-size: 27px;
    color: #FFD700;
}
.logo{
    font-size: 27px;
    color:#FFD700;
}
.menubar{
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position:fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
    transform: translate(-250px);
}
.menubtn span{
    height: 5px;
    background-color: #000;
    width: 25px;
    display: block;
    margin: 3px;
}
.menusidebar{
    width: 200px;
    height: 190px;
    background-color: crimson;
    color: white;
    position:fixed;
    top: 50px;
    left: 20px;
    z-index: 2;
    border-radius: 50px;
    transform: translate(-250px);
}
.menusidebar li{
    list-style: none;
    font-size: 20px;
    padding : 12px;
    border-bottom: 1px solid #000;
    text-align: center;
}
.menusidebar a{
    text-decoration: none;
    text-transform: none;
    color: #fff;
}
#home{
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 18, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0px;
    margin: 0px;
    padding: 0px;
}
        .intro li{
            font-size: 32px;
            color: #FFD700;
            list-style: none;
            padding: 13px;
            text-align: center;
        }
        #home span{
            color: #FF3366;
        }
        .photo img{
            width: 500px;
        }
#skill{
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 18, 18);
}
        .skills{
            width: 700px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .skills li{
            list-style: none;
            color: #fff;
            font-size: 18px;
        }
        .skills h2{
            color: #FFD700;
        }
        .bar{
            background-color:#353b48;
            height: 15px;
            border: 3px solid rgba(0,0,0,0.3);
            display: block;
            margin: 20px;
            border-radius: 3px;
            overflow: hidden;
            box-shadow: 0 0 20px#2187e7b3;
        }
        .bar div{
            height: 15px;
            background: #FF3366;
            float: left;
        }
        .html{
            width: 90%;
            animation: html 2s;
        }
        .css{
            width: 80%;
            animation: css 2s;
        }
        .javascript{
            width: 65%;
            animation: javascript 2s;
        }
        .jquery{
            width: 65%;
            animation: jquery 2s;
        }
        @keyframes html {
            0%{
                width: 0%;
            }
            100%{
                width: 90%;
            }
        }
        @keyframes css {
            0%{
                width: 0%;
            }
            100%{
                width: 80%;
            }
        }
        @keyframes javascript {
            0%{
                width: 0%;
            }
            100%{
                width: 65%;
            }
        }
        @keyframes jquery {
            0%{
                width: 0%;
            }
            100%{
                width: 65%;
            }
        }
#work{
    width: 100%;
    height: 100vh;
    background-color:rgb(20, 18, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
        .container{
            width: 800px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 200px 200px;
            grid-gap: 50px;
            }
        .design{
            box-shadow: 5px 5px 10px #dbaf1c;
        }
        .design img{
            width: 100%;
            height: 100%;
        }
#contact{
    width: 100%;
    height: 100vh;
    background-color:rgb(20, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

        .connect{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           
        }
        .social-media{
            border: 4px solid #000;
            width: 450px;
            height: 50px;
            margin: 25px;
            background-color: red;
            border-radius: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .social-media a{
            font-size: 35px;
            color: #000;
        }
        .social-media span{
            font-size: 25px;
            color: #000;
        }
        .whatsapp{
            background-color: #25d366;
        }

        .facebook{
            background-color: #3b5998;
        }

        .instagram{
            background-color: #DD2A7B;
        }

        .google{
            background-color: #F4B400;
        }

@media only screen and (max-width: 996px){
    .photo img{
        width: 350px;
    }
    .intro li{
        font-size: 25px;
    }
}
@media only screen and (max-width: 900px){
   .skills{
       width: 500px;
   }
   .container{
    width: 600px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 170px 170px;
    grid-gap: 50px;
    }
}
@media only screen and (max-width: 780px){
    .photo img{
        width: 280px;
    }
    .intro li{
        font-size: 20px;
    }
    .list a{
        font-size: 24px;
    }
    .logo{
        font-size: 24px;
    }
}
@media only screen and (max-width: 660px){
    .container{
        width: 600px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 165px 165px;
        grid-gap: 40px;
        }
}
@media only screen and (max-width: 622px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .design{
        height: 125px;
        width: 265px;
    }
    
}
@media only screen and (max-width: 560px){
    #home{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .intro li{
        font-size: 24px;
    }
    .header{
        display: none;
    }
    .skills{
        width: 400px;
    }
    .skills h2{
        font-size: 17px;
    }

    .social-media{
        width: 350px;
        height: 50px;
    }
    .header{
        display: none;
    }
    .menubar,.menusidebar{
        transform: translateX(0px);
    }
}
@media only screen and (max-width: 400px){
    .skills{
        width: 280px;
    }
    .skills h2{
        font-size: 14px;
    }

    .social-media{
        width: 280px;
        height: 44px;
    }
}
@media only screen and (max-width: 360px){
    .design{
        height: 115px;
        width: 240px;
    }
    .design1{
        margin-bottom: -22px;
    }
}
@media only screen and (max-width: 330px){
    .intro li{
        font-size: 18px;
    }
}



